// Paleta de colores

$gris-2: #2D383A;
$gris-3: #4E4E50;
$celeste-1: #A3BDC2;
$rojo-1: #B81C04;
$gris-1: #31363A;
$blanco-1: whitesmoke;

// Font-Sizes

$sizeTitulo: 4rem;

//Bootstrap personalizado

.form-check-input:checked{
    background-color: $rojo-1;
border-color: $blanco-1;
}