@import "disenios";
@import "./node_modules/bootstrap/scss/bootstrap.scss";

// Generales

* {
    font-family: 'Roboto', sans-serif;
}


// SECCIÓN PRINCIPAL

.cont-principal-1__titulo {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 4rem;
    color: $gris-2;

}

.cont-principal-2 {
    background-color: $gris-3;

    a {
        border-radius: 3rem;
    }

    a:hover {
        color: $rojo-1;
    }

}

.cont-principal-2__titulo {
    text-align: left;
    font-weight: bold;
    text-transform: uppercase;
    font-size: $sizeTitulo;
    color: $blanco-1;

}

.cont-principal-2__texto {
    color: $blanco-1;
    font-weight: lighter;
}

.cont-principal-2__boton {
    text-transform: uppercase;
}

.cont-principal-3 {
    background-color: $rojo-1;

    a {
        border-radius: 3rem;
    }

    a:hover {
        color: $rojo-1;
    }

}


.cont-principal-3__titulo {
    text-align: left;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2.9rem;
    color: $blanco-1;

}

// FOOTER

.footer{
    background-image: linear-gradient(to top, #b1b1b1, #5c5c5c)
}

.footer__titulo {
    text-align: left;
    font-weight: bold;
    text-transform: uppercase;
    font-size: $sizeTitulo;
    color: $blanco-1;

}
.footer__item:hover{
    color: $rojo-1;
}

.footer__item,
.footer__seguinos,
.footer__contacto {
    color: $blanco-1;
}

.footer__web,
.footer__derechos {
    font-weight: lighter;
    color: $blanco-1;
}


//NOSOTROS

.titulo-nosotros, .titulo-contacto{
    font-size: $sizeTitulo;
    color: $gris-1;
    font-weight: bold;
}

.img-contadora{
    width: 20rem;
}
.img-contadora2{
    width: 0rem;
}

.parrafo-nosotros{
    font-size: 1rem;
    span{
        font-weight: bold;
        font-size: 3rem;
        color: #2D383A;
    }
}

//CONTACTO
.contacto__labels{
    color: $gris-1;
}

// EMPRENDEDORES

.seccion-emprendedores{
    background-color: $rojo-1;
    h2{
        font-size: $sizeTitulo;
        color: $blanco-1;
    }
    p, li{
        color: $blanco-1;
    }
    
}