/* Navbar */

.navbar-img {
    width: 8rem;
    position: relative;
    height: 6rem;
}

#mainNav {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border: none;
    background-color: transparent;
    transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: 'Yaldevi', sans-serif;
    min-height: 0px;
}

#mainNav.navbar-shrink {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: whitesmoke;
}

/* Header */

.header {
    background-image: url("../img/fondo.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    padding-top: 17rem;
    padding-bottom: 12.5rem;
    text-align: center;
    position: relative;

}

.header:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.masthead-subheading {
    font-size: 2.25rem;
    /* font-style: italic; */
    line-height: 2.25rem;
    margin-bottom: 2rem;
    color: whitesmoke;
    position: relative;
}

.masthead-subheading2 {
    font-size: 2.25rem;
    font-style: italic;
    line-height: 2.25rem;
    margin-bottom: 2rem;
    color: whitesmoke;
    position: relative;
}

.masthead-heading {
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 4.5rem;
    margin-bottom: 4rem;
    color: whitesmoke;
    position: relative;
}

/* CONTENIDO */



.img-tarjeta {
    height: 10rem;
    width: 10rem;
}




/* Animate */

.animate__animated.animate__zoomIn {
    --animate-duration: 3s;
}
