* {
    margin: 0;
    padding: 0;
    font-family: 'Yaldevi', sans-serif;
    box-sizing: border-box;
}

.contenedor-principal {
    display: grid;
    background-color: white;
    grid-template-columns: 1fr;
    grid-template-areas:    "header"
                            "contenido"
                            "footer";

}

.contenedor-principal .header {
    background-color: #5c5c5c;
    grid-column-start: header;
    grid-column-end: header;
    grid-area: header;

    width: 100%;
}

.header__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header__navbar-logo {
    width: 8rem;
}

.header__navbar-menu {
    list-style: none;
    text-decoration: none;
    background-color: #5c5c5c;


}

.header__navbar-menu li {
    display: inline;
    text-decoration: none;
    padding: 1rem;
    border-radius: 0.5rem;

}

.header__navbar-menu li:hover {
    display: inline;
    text-decoration: none;
    padding: 1rem;
    background-color: #B81C04;

}

.header__navbar-menu li a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}



.contenedor-principal .contenido-seccion1 {
    grid-column-start: contenido;
    grid-column-end: contenido;
    display: flex;
    flex-direction: column;
    background-image: url("../img/fondo.jpg");
    background-repeat: no-repeat;
    background-position:center center;
    background-size: cover;
    /* background-attachment: fixed; */
}
.contenedor-principal .contenido-seccion2 {
    grid-column-start: contenido;
    grid-column-end: contenido;
    display: grid;
    /* grid-template-columns: repeat(3,1fr); */
    margin-top: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 3rem;
    background-color:white;
    padding-left: 5rem;
    padding-right: 5rem;
}

.contenedor-principal .contenido-seccion3 {
    grid-column-start: contenido;
    grid-column-end: contenido;
    display: grid;
    /* grid-template-columns: repeat(3,1fr); */
    margin-top: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 3rem;
    background-color: white;
    padding-bottom: 3rem;
    padding-left: 5rem;
    padding-right: 5rem;
}
.contenedor-principal .footer {
    background-color: yellowgreen;
    grid-column-start: footer;
    grid-column-end: footer;
}


.contenido-seccion1__texto {
    color: whitesmoke;
    font-size: 4rem;
    margin-top: 8rem;
    text-align: center;
    text-transform: uppercase;
    /* text-shadow: -2px -2px 1px #4A4C4D; */
    font-weight: bold;
}

.contenido-seccion1__texto2{
    color: whitesmoke;
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 4rem ;
    text-align: center;
    text-transform: uppercase;
    /* text-shadow: -2px -2px 1px #4A4C4D; */
    font-weight: bold;
}

.tarjetas{
background-color: white;
display: flex;
flex-direction: column;
justify-content:space-between;
padding: 4rem;
align-items: center;
}

.contenido-seccion2__img{
    width: 15rem;
    padding-top: 5rem;
    text-align: center;
    
}
.contenido-seccion2__titulo, .contenido-seccion3__titulo{
    text-transform: uppercase;
    font-weight: bold;
    font-size:x-large;
    padding-top: 2rem;
    text-align: center;
}
.contenido-seccion2__texto, .contenido-seccion3__texto{
text-align: justify;
padding-top: 2rem;
padding-bottom: 2rem;
}

.button-tabla {
    border: none;
    background-color: #939798;
    color: white;
    height: 2rem;
    width: 8rem;
    border-radius: 1rem;
    text-transform: uppercase;

}

.button-tabla:hover {
transform: scale(1.5,1.5);
background-color: #B81C04;

}
.button-tabla a{
    text-decoration: none;
    color: white;
}

.titulo-seccion3{
    font-weight: bold;
    text-align: center;
    font-size: 4rem;
    padding-top: 8rem;
    color:black;

}


/* FOOTER */

.footer{
    background-image: linear-gradient(to top, #b1b1b1, #5c5c5c );
    display: flex;
    flex-direction: column;
}

.footer_titulo{
    padding-top: 3rem;
    padding-left: 3rem;
    align-self: flex-start;
    padding-bottom: 2rem;
    text-transform: uppercase;
    color: whitesmoke;
}

.footer-contacto__li a{
    text-decoration: none;
    font-size: 1rem;
    padding-right: 1rem;
    padding-left:3rem;
    color:whitesmoke;
}

.footer-derechos{
    text-align: center;
    font-size: small;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.footer-web{
    text-align: center;
    font-size: small;
    padding-top: 4rem;
}

/* SECCION NOSOTROS */

.seccion-contadoras{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 4rem;
    margin:10rem 10rem;
}

.flex-nosotros{
    display: flex;
    flex-direction: row;
    align-items: center;
}


.flex-nosotros img{
width:30rem;
border-radius: 20rem;
}

.parrafo-nosotros{
    padding-left: 3rem;
    font-size: 1.5rem;
    color: #2D383A;
    width: 50vw;
}

.nosotros-nombre-contador{
    font-weight: bold;
    font-size: 3rem;
    color: #2D383A;
}

.titulo-nosotros{
    font-weight: bold;
    text-align: center;
    font-size: 4rem;
text-transform: uppercase;
    color:#2D383A;
    padding-top: 5rem ;
    
}

/* ESTILOS CON EL DISEÑO DEL ENTREGABLE ANTERIOR -- SE BORRARÁN, SOLO LOS DEJO PARA DEJAR UN POCO MAS VISUAL EL SITIO */

.section-servicios {
    padding-top: 10rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

.tabla-pag-servicios {

    background-color: white;
    margin-top: 3rem;
    border-collapse: collapse;
}

.tabla-pag-servicios th,
.tabla-pag-servicios td {

    border: 2px solid black;
    padding: 2rem;
}

.tabla-pag-servicios th {
    background-color: grey;
    color: white;
}
.section-servicios {
    padding-top: 10rem;
    padding-bottom: 5REM;
    margin-left: 3rem;
    margin-right: 3rem;
}

/* SECCION NOTICIAS */


.imagen-construccion{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* SECCION CONTACTO */

.section-contacto{
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.contacto-titulo{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 4rem;
    color: #2D383A;
}
.legend{
    padding-bottom: 3rem;
}

.contacto-input{
border-style: solid botto;
    background: transparent;
    outline: none
}